{% extends 'main_pages/base.html' %}
{% block content %}
{% include 'main_pages/navbar.html' %}
<!-- ======= hero ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row justify-content-center pt-5 text-uppercase">
          <div class="col-xl-5 col-lg-6 pt-5   justify-content-center">
            <h1 class="pt-5">Imediately book <br> hairstylists <br>close by</h1>  
                <form class="d-flex pt-4" role="search">
                  <input class="form-control me-2" type="search" placeholder="Discover hairstylists near me" aria-label="Search">
                  <button class="btn btn-outline-info btn-lg" type="submit">Search</button>
                </form>
          </div>
          <div class="col-md-6 pt-5">
            <img src="static/hero_images/hero-img.png" alt="">
          </div>
      </div>
    </div>

  </section><!-- /hero -->

{% endblock content %}